#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#footer {
  background-color: #f5f5f5;
}

.container .github-code {
  margin: 20px auto;
}

#push, #footer {
  height: 70px;
}

#bg_image {
  background: asset-url('officehoursbg.jpg') no-repeat;
  display: block;
  height: 25em;
  width: 100%;
  min-width: 945px;
  background-size: 100% auto;
}

#title {
  text-align: center;
  margin-top: -200px;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  text-shadow: black 0 0 0.2em;
}

.container {
  margin-top: 200px;
}

#attending-list .span1 {
  text-align: center;
}

footer {
  margin-top: 50px;
  text-align: right;
  background: #F8F7F7;
  .container {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px 0;
  }
}