#wrap
  #bg_image
  %h1#title CocoaHeads Montréal Office Hours
  .container
    .row
      .span4
        %h3
          %i.icon-laptop
          Format
        %p We all show up with our laptops and get hacking on our individual projects. When someone has a question (about Cocoa, iOS, OS X, or whatever), they can get help from other participants. Simple!
        %p Notman House provides free wifi and coffee :)
      .span4
        %h3
          %i.icon-calendar
          Next Event
        %h5
          The next event is
          %span#date not on the calendar yet.
        %p Events are held every Monday, alternating between mornings and evenings.
        %p 
          Follow 
          = link_to "@CocoaOfficeHrs", "https://twitter.com/CocoaOfficeHrs"
          for reminders.
        %p
          You can consult the
          %a{:href => "http://notman.org/en/events/"} Notman House calendar
          for more information.
      .span4
        %h3
          %i.icon-ok-circle
          Signup
        %p Please let us know if you're planning on coming to the next event.
        %p.text-center
          %a.btn.btn-large.signup{:href => "/auth/github"}
            %i.icon-github
            Signup with Github
    %hr/
    .row
      .span4
        %h3
          %i.icon-home
          Where
        %p
          The events are hosted downstairs in the cafe area at
          %a{:href => "http://notman.org"} Notman House.  
          %br/
          %br/
          %strong Note:
          If there is an event at Notman on the same day that there are office hours, we will try meeting in the Microsoft lounge or a room upstairs. 
        %a{:href => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Notman+House,+Sherbrooke+Street+West,+Montreal,+QC,+Canada&aq=0&oq=notman&sll=45.558042,-73.730303&sspn=0.533659,1.352692&vpsrc=6&ie=UTF8&hq=Notman+House,&hnear=Sherbrooke+St+W,+Montreal,+Quebec,+Canada&ll=45.550121,-73.575439&spn=0.133435,0.338173&t=m&z=12&iwloc=A&cid=11433532947443404990"}
          .text-center
            = image_tag("notman_map.jpg", class: "img-polaroid", :alt => "51 sherbrooke west montreal")
      .span8
        %h3
          %i.icon-group
          Attending next event
        #attending-list
          %p No one is attending yet. Be the first to sign up!
  #push
#footer
  .container
    %p.github-code
      %span.pull-left
        Credit to 
        = link_to "@AlexCP_", "https://twitter.com/AlexCP_"
        for the code base.
      %span.pull-right
        %a{:href => "https://github.com/iwasrobbed/CocoaHeadsMTL-Office-Hours"}
          %i.icon-github
          View code on Github